* {
    padding: 0px;
    margin: 0%;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: #039388;
    text-align: var(--bs-body-text-align);
    background-color: #00aaa3;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}