// paletas de colores

$color-principal: #00aaa3;
$color-secundario: #038e83;
$color-Negro: black;
$color-Rojo: red;

// tamaños y displays

$Width: 100%;
$Fuente: 1.7rem;
$Gap: 1.5rem;
$Display-Flex: flex;
$Display-None: none;
$Display-Grid: grid;
$Center: center;






