.Parrafo {
    font-size: 1.5rem;
    color: black;
    background-color: #039388;
    padding: 8px;
    border-radius: 10px;
    border: 3px solid black;
}

.Parrafo:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.Categorias-Titulo, .Nenas-Titulo, .Nenes-Titulo, .Bebes-Titulo, .Accesorios-Titulo, 
.Verano-Titulo, .UltimosTalles-Titulo, .Nosotros-Titulo {
  text-align: center;
  margin-top: 3rem;
  font-size: 5rem;
  color: black;
  animation: tracking-in-expand 1s .7s both
}
