.Parrafo {
    font-size: 1.5rem;
    color: black;
    background-color: #039388;
    padding: 8px;
    border-radius: 10px;
    border: 3px solid black;
}

.Parrafo:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.Parrafo-Nenas {
    font-size: 2rem;
    color: black;
}

.Parrafo-Nenes {
    font-size: 2rem;
    color: black;
}

.Parrafo-Bebes {
    font-size: 2rem;
    color: black;
}

.Parrafo-Accesorios {
    font-size: 2rem;
    color: black;
}

.parrafo-nenas1:hover {
    background-color: pink;
    transition: 0.3s;
}

.parrafo-nenes2:hover {
    background-color: cornflowerblue;
    transition: 0.3s;
}

.parrafo-bebes3:hover {
    background-color: aliceblue;
    transition: 0.3s;
}
