.carousel {
  width: $Width;
}

.Seccion {
  display: $Display-Flex;
  justify-content: $Center;
  gap: $Gap;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 2rem;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.Articulo {
  display: $Display-Flex;
  flex-direction: column;
  align-items: $Center;
  gap: $Gap;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: clamp(300px, 30%, 400px);
}

header {
  display: $Display-Flex;
  background-color: map-get($map-colors, Primario );
}

li a.active, li a:hover {
  background: $color-principal;
  transition: 0.5s;
  border: 1px solid map-get($map-colors, Negro);
  color: $color-Rojo;
}

a {
  text-decoration: $Display-None;
  color: map-get($map-colors, Negro);
  font-size: $Gap;
}

.checkbtn {
  font-size: 30px;
  color: map-get($map-colors, Negro);
  float: right;
  line-height: 85px;
  margin-right: 40px;
  cursor: pointer;
  display: $Display-None;
}

#check {
  display: $Display-None;
}

.encabezado {
  @include flex-estatico;
  background-color: map-get($map-colors, Primario );

  .Menu__list {
    float: right;
    margin-right: 20px;

    &__item {
      color: map-get($map-colors, Negro);
      font-size: 15px;
      padding: 7px 13px;
      border-radius: 10px;
      text-transform: uppercase;
    }
  }
}

section {
  @include flex (null, $Center, $Center, null);
}

img {
  @include sizes ($Width, null)
}

.enlace {
  position: absolute;
  padding: 10px 60px;
  display: $Display-Flex;
}

.logo {
  width: 70px;
}

.Tienda {
  font-size: 2rem;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -.5em;
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    opacity: 1
  }
}

.container {
  font-size: 30px;
  text-align: $Center;
  display: block;
  color: map-get($map-colors, Negro);
}

.Main2 {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

@media (max-width: 2200px) {
  .Articulos-ultimostalles {
    display: $Display-None;
  }
}

/* TABLET */
@media (max-width: 1120px) {
  .enlace {
    padding-left: 20px;
  }

  nav ul li a {
    font-size: 16px;
  }

  .Articulo {
    display: $Display-Flex;
    flex-direction: column;
    align-items: $Center;
    gap: $Gap;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: clamp(300px, 30%, 400px);
  }

  .Seccion {
    display: $Display-Flex;
    justify-content: $Center;
    gap: $Gap;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 5rem;
    flex-wrap: wrap;
    padding: 0 1rem;
  }

  .Seccion-Inicio {
    display: flow-root;
    justify-content: $Center;
    gap: $Gap;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 5rem;
    flex-wrap: wrap;
    padding: 0 1rem;
  }

  footer div {
    justify-content: space-around;
    width: $Width;
    display: $Display-Grid;
    align-items: $Center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .Redes {
    display: $Display-None;
  }

  .Redes1 {
    display: $Display-Flex;
  }

  .Horarios {
    font-size: 2rem;
    text-align: $Center;
    display: $Display-Grid;
  }

  .Mapa {
    display: $Display-Flex;
    margin: auto;
  }

  .Ubicacion {
    font-size: 2rem;
    text-align: $Center;
  }

  .Info-Nosotros {
    font-size: 3rem;
    flex-wrap: wrap;
    margin: 4px;
    padding: 5px;
    text-align: $Center;
  }

  .container {
    font-size: 20px;
    display: $Display-Flex;
  }

  .Main2 {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem; 
  }

  .Tienda {
    font-size: $Fuente;
  }
}

/* MOBILE */
@media (max-width: 815px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: $Width;
    height: 100vh;
    background: map-get($map-colors, Secundario);
    top: 85px;
    left: -100%;
    text-align: $Center;
    transition: all 0.5s;
    z-index: 1;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  li a:hover, li a.active {
    background: $Display-None;
    color: $color-Rojo;
    background: map-get($map-colors, Primario );
  }

  #check:checked~ul {
    left: 0;
  }

  footer div {
    justify-content: space-around;
    width: $Width;
    display: $Display-Grid;
    align-items: $Center;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
  }

  .Articulos-ultimostalles {
    display: $Display-None;
  }

  .Link-ultimostalles {
    display: $Display-Flex;
  }

  .Seccion {
    justify-content: $Center;
    gap: $Gap;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 5rem;
    flex-wrap: wrap;
    padding: 0 1rem;
  }

  .Redes {
    display: $Display-None;
  }

  .Redes1 {
    display: $Display-Flex;
  }

  .Horarios {
    display: $Display-None;
  }

  .Horario {
    display: $Display-Grid;
  }

  .Mapa {
    display: $Display-Flex;
  }

  .Ubicacion {
    display: $Display-None;
  }

  .Ubicaciones {
    display: $Display-Grid;
  }

  .Info-Nosotros {
    font-size: 3rem;
    flex-wrap: wrap;
    margin: 4px;
    padding: 5px;
    text-align: $Center;
  }

  .container {
    font-size: 18px;
  }

  .Main2 {
    max-width: 600px;
    margin: 2rem auto;
    padding: 0 1rem; 
  }
}